@{
    ViewData["Title"] = "Issue credential";
}
<h1>@ViewData["Title"]</h1>

<h4>Issue a credential in a digital wallet</h4>

<br />

<div class="row mb-3">
    @*<div class="col-xl-4 col-sm-6 py-2">
        <a asp-action="AdeverintaStudent" asp-controller="Home" style="text-decoration:none">
            <div class="card bg-light text-dark h-100">
                <div class="card-body bg-light">
                    <div class="rotate">
                        <i class="fa fa-id-card fa-3x"></i>
                    </div>
                    <h6 class="text-uppercase">Adeverinta de student</h6>
                </div>
            </div>
        </a>
    </div>*@
    <div class="col-xl-4 col-sm-6 py-2">
        <a asp-action="DiplomaStudent" asp-controller="Home" style="text-decoration:none">
            <div class="card text-dark bg-light h-100">
                <div class="card-body bg-light">
                    <div class="rotate">
                        <i class="fa fa-certificate fa-3x"></i>
                    </div>
                    <h6 class="text-uppercase">Diploma de studii</h6>
                </div>
            </div>
        </a>
    </div>
</div>